*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark {   background:  #0b0a0a; }
body.dark h2 {color:#fff}
body.dark h3 {color:#f0a492}
body.dark h4 {color:#200b08}
body.dark main p {color:#ececf2}
body.dark footer p {color: #000000;}

.darkModeSwitch{
    background: #ebd1d1;
    display:flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.darkModeSwitch span{
    width:30px;
    height:15px;
    line-height:30px;
    display:block;
    color:#0a0a0a;
    
    background: none;
}
.darkModeSwitch::after{
    display:block;
    background: #8272e5de;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top:0;
    left:0;
    right:unset;
    
    border-radius: 3rem;
    transition: all .5s ease;

    content: "";
}
.darkModeSwitch.active{
  background: #dcdfe6;
}
.darkModeSwitch.active::after{
  left:unset;
  right:0;
}

/*boton de cambio de tema*/
#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} 

/* fin boton de cambio de tema*/

