*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue; 
}   


.img_cont{   
    height: 80%; 
    width: 95%;
    background-position: center;     
    padding: 20px;     
    margin: 10px;        
}
.img_cont_carrousel{
    height: 80%; 
    width: 95%;
    background-position: center;     
    padding: 20px;      
    margin: 10px;     
}

header{
    background-color: white;
    padding: 15px;    
}
header h1 {    
    color:rgb(155, 125, 65);     
    font-weight: 100;
    display: inline-block;     
    font-size: 40px; 
    margin-left: 40px;            
    font-family: 'Bungee Spice', cursive;   
}
nav{
    background-color: rgb(194, 239, 239);
    margin-bottom: 5px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: rgb(167, 211, 214);
}
nav ul li a.activo{
    background-color: #b1d0f4;
}
.holder{ 
    height: 95%; 
    width: 95%;
    max-width: 960px;
    margin: auto; 
    padding: auto;  
    
}

.formatoParrafo {
color:rgb(47, 137, 137);    
font-family: 'Dancing Script', cursive;
font-size: 25px;
text-align: center;
line-height: 1.2;
margin: 10px;
border: 1px dotted black;
border-radius: 10px;
box-shadow: 0 0 15px #1b383f;
background: linear-gradient(to right, rgb(217, 180, 208), rgb(225, 170, 170), rgb(155, 187, 216));
}

footer{
    background-color: rgb(245, 248, 240);
    clear: both;
    color:rgb(7, 33, 33);
    text-align: center;
    padding: 5px, 0;
    margin-top: 20px;
}

.bienvenidos{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    margin-left: 40px; 
    text-align: center;      
}
/* inicio nosotros */
.nosotros p {
    font-family: 'Dancing';
    font-size: 25px; 
    font-weight: bold;   
    font-style: oblique;    
    padding: 5px, 0;
    margin-top: 20px;
}

.servicio {
    border: 1px solid rgb(226, 152, 125);
    border-radius: 20px;
    padding: 15px;
    margin: 15px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicio img {
    height: 90px;
    width: 100px;
    border-radius: 50px;
    display: block;
}
.servicio h3 {
    font-family: 'Caveat', cursive;    
}
.servicio p {
    font-size: 16px;
    font-family: "Comic Sans MS";
    text-align: center;
}
/* fin nostros */

/*inicio galeria*/

.presentaciones {
    font-size: 70px;
    text-align: center;
    font-family: 'Caveat', cursive;   
}
.perritos {
    display:flex;        
    justify-content:space-between;    
    padding: auto;
    margin: 12px;
}
.perrito {
    border:  solid blanchedalmond;
    border-radius: 15px;    
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;    
    margin: 8px;
    display: flex;
    gap: 30px;
    align-items:center;
    background-color: rgb(186, 240, 240);
    
}
.perrito img {           
    box-shadow: 5px 5px 10px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    display: block;
}

.perrito h4 {
    margin: 0;    
    font-weight: normal;
    color: #0a0a0a;
    text-align: center;
    font-size: 12px;
}
.perrito p {
    color: #0a0a0a;
    font-size: 12px;
    text-align: center;
    display: block;
}
.perrito h3{
    font-family: 'Caveat', cursive;
    text-align: center;
    display: block;
    font-size: 20px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0b1623;     
}

form {    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    font-size: 20px;
    background-color: rgb(240, 223, 239);
    margin-bottom: 20px;
    padding: 20px 55px 25px 55px;
    
}

label {
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

input {
    padding: 20px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 2px solid #1b383f;
    color: black;
    outline: none;
}

input::placeholder {
    color: #c0c0c0c0;
}

.boton {
    font-size: 20px;
    color: rgb(5, 11, 15);
    border: 0;
    border-radius: 15px;
    background-color: linear-gradient(
        90deg,
        rgba(214, 0, 254, 1) 0%,
        rgba(136, 1, 254, 1) 77%);    
}

/*fin galeria*/

/* comienzo de contacto */

.iframe {
    border: 1px solid rgb(226, 152, 125);
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;    
    gap: 32px;
    align-items: center; 
}
.contacto {
    border: 1px solid rgb(28, 74, 107);
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;    
    display: block;
    gap: 32px;
    align-items: center;   
}
.contacto img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: inline-block;
}  

/*fin de contacto */